In [40]:
import pandas as pd
import numpy as np

In [85]:
df = pd.read_csv("combined_data.csv")

In [86]:
df

       label                                               text
0          1  ounce feather bowl hummingbird opec moment ala...
1          1  wulvob get your medircations online qnb ikud v...
2          0   computer connection from cnn com wednesday es...
3          1  university degree obtain a prosperous future m...
4          0  thanks for all your answers guys i know i shou...
...      ...                                                ...
83443      0  hi given a date how do i get the last date of ...
83444      1  now you can order software on cd or download i...
83445      1  dear valued member canadianpharmacy provides a...
83446      0  subscribe change profile contact us long term ...
83447      1  get the most out of life ! viagra has helped m...

[83448 rows x 2 columns]

In [19]:
# df['Spam'] = df['Category'].apply(lambda x: 1 if x=='spam' else 0 )
# creating a new column 'spam' for simplicity

In [104]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.text, df.label, test_size = 0.2, random_state=60)

In [105]:
from sklearn.feature_extraction.text import CountVectorizer 
cv = CountVectorizer()
X_train_count = cv.fit_transform(X_train.values)
# this will create a dictionary of all the words used in the dataset and place 1 if the word is present else place 0

In [106]:
# training
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count, y_train)
model.score(X_train_count, y_train)

0.9827586206896551

In [107]:
# model.score will predict and calculate the accuracy of test data
X_test_count = cv.transform(X_test.values)
model.score(X_test_count, y_test)

0.974415817855003